@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.custom-popup .mapboxgl-popup-content {
  background-color: rgba(255, 250, 240, 0.95);
  border: 2px solid #b8860b;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 3px 14px rgba(184, 134, 11, 0.4);;
}

.custom-popup .mapboxgl-popup-tip {
  border-top-color: #b8860b;
}

.popup {
  width: 220px;
}

.popup h3 {
  margin: 0 0 12px;
  color: #b8860b;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #ffd700;
  padding-bottom: 8px;
  text-align: start;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8b4513;
  font-size: 14px;
}

.popup-item i {
  color: #daa520;
  width: 20px;
  text-align: center;
}

.mapboxgl-popup-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  right: 5px;
  top: 5px;
}

.mapboxgl-popup-close-button:hover {
  color: #daa520;
}
.listbtn::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.listbtn::-webkit-scrollbar-thumb {
  background-color: #b58910; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the scrollbar thumb */
}

.listbtn::-webkit-scrollbar-track {
  background: rgba(247, 227, 195, 0.4); /* Background of the scrollbar track */
}